<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1"/>
        <title>Settings</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    </head>
    <body>
        <div id="header">
            <div class="container">
                <nav>
                    <h1>Shaquiana Bail Bonds</h1>
                    <ul>
                        <li><a href="/settings.html">Settings</a></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div>
        <h1 style="margin-top:75px">Hello World</h1>
        </div>
    </body>
</html>